/* Add CSS Styling */

.odd {
    background-color: rgb(236, 145, 161);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: rgb(0, 0, 255);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: rgb(0, 255, 0);
    font-weight: bold;
}